<main>
  <section class="form-section">
    <h2>{{ title }}</h2>

    <ng-content></ng-content>
    
    <button class="btn-primary" (click)="submit()">{{textBtnPrimary}}</button>
    <div>
      <span>-- or --</span>
    </div>
    <button class="btn-secundary" (click)="navigate()">{{textBtnSecundary}}</button>

  </section>
  <section class="main-section">

    <h2>Lista de Tarefas</h2>

    <!-- inicio da lista de tarefas
    
<h2>Lista de Tarefas</h2>

<div *ngIf="tarefas$ | async as tarefas; else carregando">
  <ul>
    <li *ngFor="let t of tarefas">
      <strong>{{ t.nome }}</strong> - {{ t.prioridade }}  
      <br>
      {{ t.descricao || 'Sem descrição' }}
      <br>
      <em>Prevista para: {{ t.dataPrevistaConclusao | date }}</em>
      <hr>
    </li>
  </ul>
</div>

  <ng-template #carregando>
    <p>Carregando tarefas...</p>
  </ng-template>

      fim da lista de tarefas -->
  </section>
</main>