<main>
  <section class="form-section">
    <h2>{{ title }}</h2>

    <ng-content></ng-content>
    
    <button class="btn-primary" (click)="submit()">{{textBtnPrimary}}</button>
    <div>
      <span>-- or --</span>
    </div>
    <button class="btn-secundary" (click)="navigate()">{{textBtnSecundary}}</button>

  </section>
  <section class="main-section">

    <!--inicio da lista de tarefas-->

    <h2>Lista de Tarefas</h2>

@let tarefas = tarefas$ | async;

@if (tarefas === null) {
  <div>
    <ul>
      @for (t of tarefas; track t.nome) {
        <li>
          <strong>{{ t.nome }}</strong> - {{ t.prioridade }}
          <br>
          {{ t.descricao || 'Sem descrição' }}
          <br>
          <em>Prevista para: {{ t.dataPrevistaConclusao | date }}</em>
          <hr>
        </li>
      }
    </ul>
  </div>
} @else {
  <p>Carregando tarefas...</p>
}
      <!--fim da lista de tarefas -->
  </section>
</main>