.input-wrapper{
  color: #555;
  font-size: 16px;
  text-align: start;
}
.input-wrapper label{
  margin-bottom: 10px;
}
.input-wrapper .input-content{
  width: 100%;
  border-radius: 8px;
  display: flex;
}
.input-wrapper input{
  border: 1px solid #131842;
  border-radius: 8px 0 0 8px;
  background-color: #FBF6E2;

  color: #131842;
  font-size: 16px;
  padding: 12px 0 12px 20px;
  width: 100%;
}